body {
    background-image: url('./content/images/sky.gif');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poetsen One", sans-serif;
    color: white;
    animation: scrollBackground 60s linear infinite;
}

h1{
    font-size: 4vw;
    margin-bottom: 5px;
}

#turnkey-credit #override {
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

@keyframes scrollBackground {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 0;
    }
}

.content {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: moveText 4s forwards cubic-bezier(0.25, 0.1, 0.25, 1);
    animation-delay: 2s;
    padding: 20px;
    font-size: 50px; /* Taille de police initiale */
    text-shadow: 2px 2px 4px #000000, 0 0 10px rgba(0, 0, 0, 0.8); /* Réapplique l'ombre */
    white-space: nowrap; /* Empêche les retours à la ligne */
}

@keyframes moveText {
    0% {
        top: 50%; /* Départ au milieu */
        font-size: 50px; /* Taille de police plus grande */
    }
    100% {
        top: 100px; /* Arrivée en haut */
        font-size: 25px;
    }
}

.container {
    display: flex;
    flex-wrap: wrap; /* Permet l'enroulement des éléments */
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
}

.white-box:hover::before {
    content: attr(data-hover-text); /* Utilisez l'attribut data-hover-text comme contenu */
    position: absolute;
    bottom: 10px; /* Adjustez la position verticale du texte */
    right: 10px; /* Ajustez la position horizontale du texte */
    color: white;
    background-color: black;
    padding: 5px 10px;
    border-radius: 10px;
    z-index: 1; /* Assurez-vous que le texte est au-dessus de la white-box */
}

.white-box {
    position: relative; /* Permet de positionner le pseudo-élément par rapport à ce div */
    width: 200px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.5); /* Couleur de fond avec une opacité de 50% */
    opacity: 0; /* Réglez l'opacité à 0 pour commencer */
    box-shadow: 2px 2px 4px #000000, 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 20%;
    pointer-events: none;
    margin: 10px;
    animation: fadeIn 2s forwards;
    animation-delay: 4s;
    display: flex; /* Ajoutez cette propriété */
    justify-content: center; /* Ajoutez cette propriété */
    align-items: center; /* Ajoutez cette propriété */
}

.white-box.clickable {
    pointer-events: auto;
}

.white-box:hover{
    background-color: rgba(255, 255, 255, 0.85); /* Couleur de fond avec une opacité de 50% */
}

#twitch {
    display: flex;
    align-items: center; /* Aligne les éléments enfants verticalement */
    width:1500px;
    border-radius: 30px;
    justify-content: flex-start;
}

.left-content {
    flex: 1; /* Fait en sorte que cette partie prenne autant d'espace que possible */
    padding: 0 10px; /* Ajoute un peu d'espace entre l'image et le texte */
}

.right-content {
    padding-right: 125px; /* Ajoute un peu d'espace à droite du texte */
    font-size: 75px;
    text-shadow: 2px 2px 4px #000000, 0 0 10px rgba(0, 0, 0, 0.8); /* Réapplique l'ombre */
    text-decoration: none;
}

.images{
    padding: 5px;
    top:50%;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

footer {
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

#genshin{
    width:500px;
    border-radius: 30px;

}

@media only screen and (max-width: 768px) {
    .white-box p {
        font-size: 3vh;
    }

    h1 {
        font-size: 7vw; /* Ajustez la taille de police pour les écrans plus petits */
    }
    body{
        padding-top: 50px;
    }
    .content {
        position: absolute;
        top: 30%; /* Ajustez la position verticale selon vos préférences */
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #twitch, #genshin {
        width: 80%; /* Ajustez la largeur des éléments */
        max-width: 300px; /* Limitez la largeur maximale pour éviter le débordement */
        margin: 10px auto; /* Centrez les éléments en utilisant la marge automatique */
    }
    /* Ajoutez les styles suivants pour la vue mobile */
    .left-content img {
        width:100px;
        height: 80px;
    }
    .right-content{
        padding-right: 50px;
    }
    /* Style pour les white-box */
    .container {
        flex-direction: row; /* Affiche les éléments en ligne */
        flex-wrap: wrap; /* Permet de passer à la ligne lorsque l'espace est insuffisant */
        justify-content: center; /* Espace équitablement les éléments sur la ligne */
    }

    .white-box {
        height:25%;
        width: 25%; /* Réduisez la largeur des divs */
        max-width: 150px; /* Limitez la largeur maximale pour éviter le débordement */
    }

    @keyframes moveText {
        0% {
            top: 50%; /* Départ au milieu */
            font-size: 25px; /* Taille de police plus grande */
        }
        100% {
            top: 100px; /* Arrivée en haut */
            font-size: 20px;
        }
    }

    .images {
        max-width: 80%; /* Ajuste la largeur de l'image */
    }
}
